<header>
    <button class="button" (click)="homeClick()">Home</button>
    <button class="button" (click)="characterClick()">Character</button>
    <button class="button" (click)="videoClick()">Video</button>
    <button class="button" (click)="randomClick()">RandomCharacter</button>
    
</header>
<body class="BG">
<div class="videoPlayer">
<iframe width="900" height="600" src="https://www.youtube.com/embed/hbGXqUumtqg?si=0-fRHBuE0YEZPFQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</body>