.image{
    max-width: 100%;
    height: auto;
}
.tableDiv{
    display: inline-block;
    background-color: white;
    background-image: url("/assets/book-logo_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding-left: 48px;
    padding-right: 48px;
    
}
.table{

    margin: 50pt auto;
    width: fit-content;

}
.title1{
    text-align: center;
    padding: 24px;

}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.BG {
    background-image: url("../../assets/bImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bar{
    
}